
<div class="row">
    <div class="col-md-12 text-center">
        <h2>You don't have right permission to access this page.</h2>
        <p>Would you like to <a class="btn btn-danger" asp-controller="Contacts" asp-action="Logout">log in with another account?</a></p>
    </div>
</div>