<!-- start quote-section -->
<section class="quote-section">
    <div class="content-area clearfix">
        <div class="left-col">
            <h2>Get in touch</h2>
            <div class="details">
                <p>It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered </p>
                <div class="clearfix">
                    <ul>
                        <li><i class="ti-check"></i> Cut out of an illustrated magazine</li>
                        <li><i class="ti-check"></i> Showed a lady fitted out</li>
                    </ul>
                    <ul>
                        <li><i class="ti-check"></i> Raising a heavy fur muff</li>
                        <li><i class="ti-check"></i> Magazine and housed in a nice</li>
                    </ul>
                </div>
                <div class="btns">
                    <a href="#" class="theme-btn">Our Services</a>
                    <a href="#" class="theme-btn-s3">Contact with us</a>
                </div>
            </div>
        </div>
        <div class="right-col">
            <div class="quote-area">
                <h3>Book an Interview</h3>
                <p>Please fill out the form and then our team will contact you as soon as possible.</p>
                <form method="post" class="contact-validation-active" id="contact-quote-form">
                    <div>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Name*">
                    </div>
                    <div>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email*">
                    </div>
                    <div>
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone*">
                    </div>
                    <div>
                        <textarea class="form-control" name="note"  id="note" placeholder="Case Description..."></textarea>
                    </div>
                    <div class="submit-area">
                        <button type="submit" class="theme-btn">Get a quote</button>
                        <div id="loader">
                            <i class="ti-reload"></i>
                        </div>
                    </div>
                    <div class="clearfix error-handling-messages">
                        <div id="success">Thank you</div>
                        <div id="error"> Error occurred while sending email. Please try again later. </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- end quote-section -->