@inherits LayoutComponentBase

<div class="page-wrapper">
    <HeaderComponent />
    <SliderComponent />
    <AboutIntroComponent />
    <IndustriesIntroComponent />
    <FeaturesIntroComponent />
    <CommentsIntroComponent />
    <PartnersComponent />
    <ContactIntroComponent />
    <BlogsLatestHomeComponent />
    <CallToActionComponent />
    <FooterComponent />
</div>