@inherits LayoutComponentBase

<div class="page-wrapper">
    
    <HeaderComponent />
    <SliderComponent />
    <AboutIntroComponent />
    <IndustriesIntroComponent />
    <FeaturesIntroComponent />
    <CommentsIntroComponent />
    <PartnersComponent />
    <ContactIntroComponent />
    <BlogsLatestHomeComponent />
    <CallToActionComponent />
    <FooterComponent />
</div>

@code {
    [Inject]
    public IJSRuntime JSRuntime { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await JSRuntime.InvokeAsync<object>("initialize");
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}