@inherits LayoutComponentBase

<PageTitle>White Gold</PageTitle>

<div class="page-wrapper">
    @Body
</div>

@code {
    [Inject]
    public IJSRuntime JSRuntime { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await JSRuntime.InvokeAsync<object>("initialize");
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}