*{
    direction: rtl !important;
}
.farsi_digits {
    font-feature-settings: "ss01";
}
.layout-fixed .main-sidebar {
    right: 0;
}
.brand-image {
    float: right;
}
.content-wrapper, .main-footer, .main-header {
    margin-left: 0px;
    margin-right: 250px;
}
.mr-auto-navbav{
    margin-right: auto!important;
}
.navbar-expand .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

[class*=icheck-]>input:first-child:checked+input[type=hidden]+label::after, 
[class*=icheck-]>input:first-child:checked+label::after {
    right: 15px;
    left: auto;
}
.nav-sidebar .nav-link>.right, 
.nav-sidebar .nav-link>p>.right {
    left: 1rem;
    right: auto;
}
.nav-sidebar .nav-link>.right:nth-child(2), 
.nav-sidebar .nav-link>p>.right:nth-child(2) {
    left: 2.2rem;
    right: auto;
}
.small-box .icon>i {
    left: 15px;
    right: auto;
}
@media (min-width: 992px){
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer, .sidebar-mini.sidebar-collapse .main-header {
        margin-right: 4.6rem!important;
    }
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer, .sidebar-mini.sidebar-collapse .main-header {
        margin-right: 4.6rem!important;
        margin-left: 0!important;
    }
}

@media (max-width: 767.98px) {
    .main-sidebar, .main-sidebar::before {
        box-shadow: none !important;
        margin-right: -250px;
    }

    .content-wrapper, .content-wrapper::before, .main-footer, .main-footer::before, .main-header, .main-header::before {
        margin-right: 0;
    }

    .sidebar-open .main-sidebar, .sidebar-open .main-sidebar::before {
        margin-right: 0;
    }
}

@media (min-width: 768px) {
    .control-sidebar-open .control-sidebar {
      display: block;
    }
    .control-sidebar-open .control-sidebar, .control-sidebar-open .control-sidebar::before {
      left: 0;
      right: auto;
    }
    .control-sidebar-open.control-sidebar-push .content-wrapper,
    .control-sidebar-open.control-sidebar-push .main-footer, .control-sidebar-open.control-sidebar-push-slide .content-wrapper,
    .control-sidebar-open.control-sidebar-push-slide .main-footer {
      margin-left: 250px;
    }
  }
  
  @media (max-width: 991.98px) {
    .control-sidebar-open .control-sidebar, .control-sidebar-open .control-sidebar::before {
      left: 0;
      right: auto;
    }
  }





// Dropdonw
.dropdown-item {
    font-size: 12px;
}



//Sidebar
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #424b52;
}

.nav-sidebar .nav-treeview {
    padding: 0 8px 0 0;
}
[class*='sidebar-dark-'] .nav-treeview>.nav-item>.nav-link.active, [class*='sidebar-dark-'] .nav-treeview>.nav-item>.nav-link.active:hover, [class*='sidebar-dark-'] .nav-treeview>.nav-item>.nav-link.active:focus {
    background-color: #5d676e;
    color: #C2C7D0;
}