@model AddClientSecretViewModel


<div class="modal fade" id="addSecret-modal" tabindex="-1" role="dialog" aria-labelledby="addSecretModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSecretModalLabel">افزودن کلمه عبور</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <partial name="_Message" />
                <form method="post" asp-action="AddSecret">
                    <input type="hidden" asp-for="ClientId" />
                     <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Type">نوع</label>
                                <select class="form-control" asp-for="Type" asp-items="@ViewBag.Types">
                                </select>
                                <span asp-validation-for="Type" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Value">مقدار</label>
                                <input asp-for="Value" class="form-control" />
                                <span asp-validation-for="Value" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Expiration">تاریخ انقضا</label>
                                <input asp-for="Expiration" class="form-control" />
                                <span asp-validation-for="Expiration" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Description">توضیحات</label>
                                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </form>
                    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                <button type="button" data-save="modal" class="btn btn-primary">ذخیره</button>
            </div>
        </div>
    </div>
</div>
