@model int
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title f-right" id="changestatusModalLabel">حذف کلاینت</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <partial name="_Message" />
                <form method="post" asp-action="Delete">
                    <input type="hidden" value="@Model" />
                        آیا از انجام عملیات حذف کلاینت مطمعن هستید؟
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">انصراف</button>
                <button type="button" data-save="modal" class="btn btn-primary">تایید</button>
            </div>
        </div>
    </div>
</div>