<AuthorizeView>
    <Authorized>
        <a class="btn-theme theme-btn" href="/Account/Logout">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a class="btn-theme theme-btn" href="/Account/Login">Login</a>
    </NotAuthorized>
</AuthorizeView>