@model PaginatedList<User>

@{
    ViewData["PageTitle"] = "مدیریت کاربران";
    var prevDisabled = !Model.HasPreviousPage ? "hidden" : "";
    var nextDisabled = !Model.HasNextPage ? "hidden" : "";
    var totalPages = Model.TotalPages;
    var pageIndex = Model.PageIndex;
}


<partial name="_ErrorMessage" />

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-search-bar">
                    <div class="input-group input-group-sm">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="جست و جو ...">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>

                <div class="card-tools">
                    <button type="button" class="btn bg-secondary btn-sm" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn bg-secondary btn-sm" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div id="datatable" data-url="/Admin/Users/Index">
                <partial name="_ListPartialView" />
            </div>
            
        </div>
    <!-- /.card -->
    </div>
</div>
<!-- /.row -->






