<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="/admin/img/AdminLTELogo.png" alt="KS Auth System" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">منو راهبری</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        @await Component.InvokeAsync("UserProfile")

        @await Html.PartialAsync("PartialViews/_RightMenu")
    </div>
<!-- /.sidebar -->
</aside>