<section class="cta-section">
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 col-md-6">
                <div class="cta-text">
                    <h3>Lets Get in Touch!</h3>
                    <p>Raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather.</p>
                    
                </div>
            </div>
            <div class="col col-lg-5 col-lg-offset-1 col-md-6">
                <div class="row contact-info">
                    <div>
                        <i class="fi flaticon-call"></i>
                        <h4>Call us</h4>
                        <p><a class="header-call" href="call:+981735844196">+98-17-35844196</a></p>
                    </div>
                    <div>
                        <i class="fi flaticon-contact"></i>
                        <h4>Email us</h4>
                        <p><a href="mailto:info@tsgco.ir">info@tsgco.ir</a></p>
                    </div>
                    <div class="address">
                        <i class="text-orange lnr lnr-map"></i> 18 km of Horse Racing Association Road, Gonbade Kavous, Golestan, Iran
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>