<!-- start why-choose-section -->
<section class="why-choose-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                <div class="section-title-s3">
                    <span>Our Features</span>
                    <h2>Why Choose Us!</h2>
                    <p>Hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div class="why-choose-grids clearfix">
                    <div class="grid">
                        <i class="fi flaticon-network-1"></i>
                        <h3>Professional Team</h3>
                        <p>Whole of her lower arm towards the viewer. Gregor then turned to look out the window</p>
                    </div>
                    <div class="grid">
                        <i class="fi flaticon-circular-label-with-certified-stamp"></i>
                        <h3>Certified engineers</h3>
                        <p>Whole of her lower arm towards the viewer. Gregor then turned to look out the window</p>
                    </div>
                    <div class="grid">
                        <i class="fi flaticon-chip"></i>
                        <h3>Latest Technology</h3>
                        <p>Whole of her lower arm towards the viewer. Gregor then turned to look out the window</p>
                    </div>
                    <div class="grid">
                        <i class="fi flaticon-24-hours"></i>
                        <h3>27/7 Support</h3>
                        <p>Whole of her lower arm towards the viewer. Gregor then turned to look out the window</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end why-choose-section -->