<!-- Start header -->
<header id="header" class="site-header header-style-1">
    <nav class="navigation navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="open-btn">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index-2.html"><img src="assets/images/logo.png" alt></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navigation-holder">
                <button class="close-navbar"><i class="ti-close"></i></button>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li><a href="/about">About</a></li>
                    <li class="menu-item-has-children">
                        <a href="/industries">Industries</a>
                        <ul class="sub-menu">
                            <li><a href="/industries/oil">Oil</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/news">News</a>
                    </li>
                    <li>
                        <a href="/announcements">Announcements</a>
                    </li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div><!-- end of nav-collapse -->

            <div class="search-contact">
                <div class="header-search-area">
                    <div class="header-search-form">
                        <form class="form">
                            <div>
                                <input type="text" class="form-control" placeholder="Search here">
                            </div>
                            <button type="submit" class="btn"><i class="ti-search"></i></button>
                        </form>
                    </div>
                    <div>
                        <button class="btn open-btn"><i class="ti-search"></i></button>
                    </div>
                </div>
                <div class="contact">
                    <div class="call">
                        <i class="fi flaticon-call"></i>
                        <p>Call us anytime</p>
                        <h5><a class="header-call" href="call:+981735844196">+98-17-35844196</a></h5>
                    </div>
                    <a href="/contact" class="theme-btn">Contact us</a>
                </div>
            </div>
        </div><!-- end of container -->
    </nav>
</header>
<!-- end of header -->