<footer class="main-footer">
    <strong>حقوق این فریم‌ورک محفوظ است.</strong>
    <div class="float-right d-none d-sm-inline-block">
        <strong><a href="https://sadin.dev">KS Framework</a></strong>,
        <b>Version</b> 1.0.0
    </div>
</footer>